<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOYbQiUZF4xedWTxmbM1QliXyWxs2Dq0E</string>
	<key>GCM_SENDER_ID</key>
	<string>863939220031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smtecgram.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mtecgram</string>
	<key>STORAGE_BUCKET</key>
	<string>mtecgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863939220031:ios:8b4fc5f120202e41c51e8a</string>
</dict>
</plist>